<!-- Profile page-->

{% extends "layout.html" %}

{% block title %}
	{% if error %}
		Error | Books Limited
	{% elif search %}
		Search Results for {{ search }} | Books Limited
	{% else %}
		All Books | Books Limited
	{% endif %}
{% endblock %}

{% block body %}
	<h3>Books Limited's Limited Library</h3>
	<br>
	{% if search %}
		<h5>Search results for <em>{{ search }}</em></h5>
	{% else %}
		<h5>Browse all books in no particular order.</h5>
	{% endif %}
	<h6>Hopefully we have everything you're looking for...</h6>
	<br>

	{% if error %}
		<div class="alert alert-danger" role="alert">{{ error }}</div>
	{% endif %}

	{% if books is not none %}
		<!-- Page numbers top-->
		<nav aria-label="Books found">
		  <ul class="pagination">
		    <li class="page-item {% if page == 1 %}disabled{% endif %}">
					{% if search %}
		      	<a class="page-link" href={{ url_for('search', search=search, page=page-1) }} tabindex="-1">Prev</a>
					{% else %}
						<a class="page-link" href={{ url_for('books', page=page-1) }} tabindex="-1">Prev</a>
					{% endif %}
		    </li>
				{% if pagenumbers %}
					{% if maxpage < 10 %}
						{% for n in range(1, maxpage + 1) %}
							<li class="page-item {% if n == page %}active{% endif %}">
								<a class="page-link" href={{ url_for('books', page=n) }}>{{ n }}</a>
							</li>
						{% endfor %}
					{% elif page < 6 %}
						{% for n in range(1, 11) %}
							<li class="page-item {% if n == page %}active{% endif %}">
								<a class="page-link" href={{ url_for('books', page=n) }}>{{ n }}</a>
							</li>
						{% endfor %}
					{% elif page > maxpage - 5 %}
						{% for n in range(maxpage - 9, maxpage + 1) %}
							<li class="page-item {% if n == page %}active{% endif %}">
								<a class="page-link" href={{ url_for('books', page=n) }}>{{ n }}</a>
							</li>
						{% endfor %}
					{% else %}
						{% for n in range(page - 5, page + 5) %}
							<li class="page-item {% if n == page %}active{% endif %}">
								<a class="page-link" href={{ url_for('books', page=n) }}>{{ n }}</a>
							</li>
						{% endfor %}
					{% endif %}
				{% endif %}
		    <li class="page-item {% if page == maxpage %}disabled{% endif %}">
					{% if search %}
		      	<a class="page-link" href={{ url_for('search', search=search, page=page+1) }}>Next</a>
					{% else %}
		      	<a class="page-link" href={{ url_for('books', page=page+1) }}>Next</a>
					{% endif %}
		    </li>
		  </ul>
		</nav>

		<!-- Books -->
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}
					<tr>
						<td><a href="{{ url_for('book', isbn=book.isbn) }}">{{ book.title }}</td>
						<td>{{ book.author }}</td>
						<td>{{ book.year }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- Page numbers bottom-->
		<nav aria-label="Books found">
		  <ul class="pagination">
		    <li class="page-item {% if page == 1 %}disabled{% endif %}">
					{% if search %}
		      	<a class="page-link" href={{ url_for('search', search=search, page=page-1) }} tabindex="-1">Prev</a>
					{% else %}
						<a class="page-link" href={{ url_for('books', page=page-1) }} tabindex="-1">Prev</a>
					{% endif %}
		    </li>
				{% if pagenumbers %}
					{% if maxpage < 10 %}
						{% for n in range(1, maxpage + 1) %}
							<li class="page-item {% if n == page %}active{% endif %}">
								<a class="page-link" href={{ url_for('books', page=n) }}>{{ n }}</a>
							</li>
						{% endfor %}
					{% elif page < 6 %}
						{% for n in range(1, 11) %}
							<li class="page-item {% if n == page %}active{% endif %}">
								<a class="page-link" href={{ url_for('books', page=n) }}>{{ n }}</a>
							</li>
						{% endfor %}
					{% elif page > maxpage - 5 %}
						{% for n in range(maxpage - 9, maxpage + 1) %}
							<li class="page-item {% if n == page %}active{% endif %}">
								<a class="page-link" href={{ url_for('books', page=n) }}>{{ n }}</a>
							</li>
						{% endfor %}
					{% else %}
						{% for n in range(page - 5, page + 5) %}
							<li class="page-item {% if n == page %}active{% endif %}">
								<a class="page-link" href={{ url_for('books', page=n) }}>{{ n }}</a>
							</li>
						{% endfor %}
					{% endif %}
				{% endif %}
		    <li class="page-item {% if page == maxpage %}disabled{% endif %}">
					{% if search %}
		      	<a class="page-link" href={{ url_for('search', search=search, page=page+1) }}>Next</a>
					{% else %}
		      	<a class="page-link" href={{ url_for('books', page=page+1) }}>Next</a>
					{% endif %}
		    </li>
		  </ul>
		</nav>
	{% endif %}
{% endblock %}
