<!-- Shared layout for the entire web app-->

<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap Stylesheet -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!-- Page Title -->
		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
		<!-- Naviagation -->
		<nav class="navbar navbar-expand-lg navbar-light alert-info">
			<ul class="navbar-nav mr-auto">
				<li class="collapse navbar-collapse">
					<a class="navbar-brand" href="/">Books Limited</a>
				</li>
				{% if username %}
					<li class="nav-item"><a class="nav-link" href="{{ url_for('profile', profilename=username) }}">Profile</a></li>
				{% endif %}
				<li class="nav-item"><a class="nav-link" href="{{ url_for('books') }}">All Books</a></li>
				<li class="nav-item">
					<span class="nav-item">
						<form action={{ url_for('search') }} class="form-inline ml-lg-3 my-lg-0">
				      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search for books" aria-label="Search">
				      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				    </form>
					</span>
				</li>
			</ul>
			<ul class="navbar-nav">
				<div class="collapse navbar-collapse">
					{% if username %}
						<li class="navbar-text text-dark">Hi, {{ displayname }}!</li>
						<li class="nav-item">
							<a href="{{ url_for('logout') }}" class="btn ml-3 btn-outline-info">Sign out</a>
						</li>
					{% endif %}
				</div>
			</ul>
		</nav>

		<!-- Page contents -->
		<div class="container">
			<br>
			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>
