<!-- Profile page-->

{% extends "layout.html" %}

{% block title %}
	{% if error %}
		Error | Books Limited
	{% else %}
		{{ profiledisplayname }}'s Profile | Books Limited
	{% endif %}
{% endblock %}

{% block body %}
	{% if error %}
		<h3>{{ error }}<h3>
	{% elif username and username == profilename %}
		<h3>My Books</h3>
	{% else %}
		<h3>{{ profiledisplayname }}'s Books</h3>
	{% endif %}
	<!-- Books -->
	{% if profilebooks is not none %}
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>My rating</th>
					<th>My review</th>
				</tr>
			</thead>
			<tbody>
				{% for book in profilebooks %}
					<tr>
						<td><a href="{{ url_for('book', isbn=book.isbn) }}">{{ book.title }}</td>
						<td>{{ book.author }}</td>
						{% if book.rating == 0 %}
							<td>No rating</td>
						{% else %}
							<td>{{ book.rating }}</td>
						{% endif %}
						<td>{{ book.review }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% elif username and username == profilename %}
		<br>
		<h5>You have no books in your profile.</h5>
		<h5>Search for books or browse <a href={{ url_for('books') }}>the library</a> to start.</h5>
	{% else %}
		<br>
		<h5>This user has not added any books yet.</h5>
	{% endif %}
{% endblock %}
